/* navbar (rest of the header) */
.skin-purple .main-header .navbar {background-color: #88398a;}      
.skin-purple .main-header .logo {background-color: #88398a;}
.skin-purple .main-header .logo:hover {background-color: #88398a;}